@font-face {
  font-family: V1;
  src: url(./asset/font/Lora-Regular.ttf);
}

body {
  font-family: V1 !important;
  font-size: 1rem;
}

.MuiButton-root {
  font-family: V1 !important;
}

.MuiTypography-h3 {
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.MuiTypography-h5 {
  font-weight: bold !important;
}

.MuiTypography-root {
  font-family: V1, Helvetica, Arial, sans-serif !important;
}
